.reviews {
    background-color: $color-secondary4;

    &__item {
        display: flex;
        background-color: $color-white;
    }

    &__item-button {
        display: flex;
        width: fit-content;
        align-items: center;
    }

    @include desktop {
        padding: 120px 0;

        &__slider {
            grid-column: 2/10 span;
        }

        &__item-content {
            padding: 40px 30px 40px 40px;
        }

        &__item-title {
            color: $color-accent1;
            @include H5;
            letter-spacing: normal;
        }

        &__item-text {
            margin: 12px 0;
            color: $color-secondary1;
        }

        &__item-reviewer {
            margin-bottom: 55px
        }

        &__item-reviewer-name {
            @include Body2_Medi_Up;
            display: block;
        }

        &__item-reviewer-position {
            @include Body4_Medi;
            display: block;
            color: $color-secondary
        }

        &__item-img {
            object-fit: cover;
            display: block;
            width: 100%;
        }
    }


    @include tablet {
        padding: 100px 0;

        &__slider {
            grid-column: 12 span;
        }

        &__item {
            flex-direction: column-reverse;
        }

        &__item-content {
            padding: 25px 25px 45px 25px;
        }

        &__item-title {
            color: $color-accent1;
            @include H5;
            letter-spacing: normal;
        }

        &__item-text {
            margin: 12px 0;
            color: $color-secondary1;
        }

        &__item-reviewer {
            margin-bottom: 55px
        }

        &__item-reviewer-name {
            @include Body2_Medi_Up;
            display: block;
        }

        &__item-reviewer-position {
            @include Body4_Medi;
            display: block;
            color: $color-secondary
        }

        &__item-img {
            object-fit: cover;
            display: block;
            width: 100%;
            aspect-ratio: 4/2;
        }
    }

    @include mobile {
        padding: 80px 0;

        &__slider {
            grid-column: 12 span;
        }

        &__item {
            flex-direction: column-reverse;
        }

        &__item-content {
            padding: 25px 25px 45px 25px;
        }

        &__item-title {
            color: $color-accent1;
            @include Body1_Bold_Up;
            letter-spacing: normal;
        }

        &__item-text {
            @include Body4_Medi;
            margin: 4px 0 12px 0;
            color: $color-secondary1;
        }

        &__item-reviewer {
            margin-bottom: 55px
        }

        &__item-reviewer-name {
            @include Body3_Medi_Up;
            display: block;
        }

        &__item-reviewer-position {
            @include Body4_Medi;
            display: block;
            color: $color-secondary
        }

        &__item-img {
            object-fit: cover;
            display: block;
            width: 100%;
            aspect-ratio: 6/4;
        }
    }
}