.ul {
    list-style: none;
    padding: 0;

    li {
        position: relative;

        &::before {
            position: absolute;
            content: '';
            border-radius: 50%;
            background-color: $color-accent1;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}