.menu {
  background-image: url(../img/menu/menu-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  min-height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow: auto;
  right: -100%;
  display: flex;
  z-index: 20;
  transition: ease-in .2s;

  &.active {
    right: 0;
  }

  &__close {
    position: absolute;
    right: 20px;
    top: 20px;
    height: 20px;
    width: 20px;
    cursor: pointer;

    &::before,
    &::after {
      position: absolute;
      content: '';
      width: 18px;
      height: 2px;
      background-color: $color-main;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
  }

  &__logo {
    display: block;
    margin-bottom: 30px;
  }

  &__list {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }

  &__link {
    color: $color-main;
    font-weight: 600;
  }

  @include desktop {
    &__main-block {
      max-width: 340px;
    }

    &__block {
      flex-basis: 33.3%;
      border: 1px solid rgba(255, 255, 255, 0.10);
    }

    &__inner-container {
      padding: 40px;
    }

    &__nav-title {
      font-size: 36px;
      font-weight: 600;
      line-height: 125%;
      letter-spacing: -0.72px;
    }

    &__link {
      font-size: 16px;
      line-height: 140%;
      letter-spacing: -0.32px;
    }
  }

  @include small-desktop {
    &__main-block {
      max-width: 340px;
    }

    &__block {
      flex-basis: 33.3%;
      border: 1px solid rgba(255, 255, 255, 0.10);
    }

    &__inner-container {
      padding: 40px;
    }

    &__nav-title {
      font-size: 36px;
      font-weight: 600;
      line-height: 125%;
      letter-spacing: -0.72px;
    }

    &__link {
      font-size: 16px;
      line-height: 140%;
      letter-spacing: -0.32px;
    }
  }

  @include tablet {
    &__main-block {
      max-width: 240px;
    }

    &__block {
      flex-basis: 50%;
      border: 1px solid rgba(255, 255, 255, 0.10);
    }

    &__inner-container {
      padding: 30px;
    }

    &__nav-title {
      font-size: 28px;
      font-weight: 400;
      line-height: 125%;
      letter-spacing: -0.56px;
    }

    &__link {
      font-size: 16px;
      line-height: 140%;
      letter-spacing: -0.32px;
    }
  }

  @include mobile {
    flex-direction: column;

    &__container {
      flex-direction: column;
    }

    &__main-block {
      max-width: 240px;
    }

    &__block {
      border: 1px solid rgba(255, 255, 255, 0.10);
    }

    &__inner-container {
      padding: 30px;
    }

    &__nav-title {
      font-size: 22px;
      font-weight: 400;
      line-height: 125%;
      letter-spacing: -0.56px;
    }

    &__link {
      font-size: 16px;
      line-height: 140%;
      letter-spacing: -0.32px;
    }
  }
}