@import '../scss/breakpoints';
@import '../scss/vars';

* {
  box-sizing: border-box;
  margin: 0;
}

input[type='checkbox'] {
  accent-color: $color-accent1;
  width: 20px;
  height: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Gilroy;
  overflow-x: hidden;
}

.page {
  overflow-x: hidden;
}


@import 'fonts.scss';
@import '../scss/layout';
@import '../scss/wrapper';
@import '../scss/animation';
@import '../scss/sliders';
@import '../html/common/footer/footer';
@import '../html/blocks/titles/titles';
@import '../html/blocks/text-styles/text-styles';
@import '../html/blocks/button/button';
@import '../html/blocks/form/form';
@import '../html/blocks/ul/ul';
@import '../html/blocks/textarea/textarea';
@import '../html/blocks/contact-us/contacts-us';
@import '../html/blocks/clients/clients';
@import '../html/blocks/grid-chess/grid-chess';
@import '../html/blocks/cases/cases';
@import '../html/blocks/advantages/advantages';
@import '../html/blocks/team/team';
@import '../html/blocks/we-do/we-do';
@import '../html/blocks/task/task';
@import '../html/blocks/more/more';
@import '../html/blocks/skills/skills';
@import '../html/blocks/reviews/reviews';
@import '../html/blocks/technologies/technologies';
@import '../html/blocks/we-can/we-can';
@import '../html/blocks/case-item/case-item';
@import '../html/blocks/interesting/interesting';
@import '../html/blocks/home-slider/home-slider';
@import '../html/blocks/texts-bg/texts-bg';
@import '../html/blocks/scroll-btn/scroll-btn';
@import '../html/blocks/exp/exp';
@import '../html/blocks/work/work';