.wrapper {
  max-width: $container;
  padding-left: $grid-gutter;
  padding-right: $grid-gutter;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  @include tablet {
    max-width: 1230px;
    padding-left: calc($grid-gutter / 2);
    padding-right: calc($grid-gutter / 2);
  }

  @include mobile {
    padding-left: calc($grid-gutter / 2);
    padding-right: calc($grid-gutter / 2);
  }
}